# Ignore build artifacts
build/asset-manifest.json
build/static/css/main.3516bb0f.css
build/static/js/main.37b34bf2.js
build/static/js/main.37b34bf2.js.LICENSE.txt
build/static/media/darken-night-sky-full-of-stars-fantasy-animation-made-of-magical-sparkly-light-particles-flickering-on-a-purple-blue-gradient-background_bajacpz7x_thumbnail-full01.049a2cd26a85856a45e6.png
